html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 auto;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
p,
span,
small,
caption,
input {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #303133
}
body, div, a, p, input {
  color: #606266
}
small, caption {
  color: #909399
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.light-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}
.float-right {
  float: right !important;
}

/* CUSTOMIZE EL COMPONENT */
.el-button.block {
  width: 100%;
}
.el-link {
  font-size: 80%;
}

/* BORDER */
.border-solid {
  border-top: 1px solid #eee;
}
.border-dashed {
  border-top: 1px dashed #eee;
}

/* RADIUS */
.no-radius {
  border-radius: 0px
}
.small-radius {
  border-radius: 2px
}
.large-radius {
  border-radius: 4px
}
.round-radius {
  border-radius: 30px
}

/* COLOR */
.bg-color-grey-extra-light {
  background-color: #F2F6FC;
}
.bg-color-grey-lighter {
  background-color: #EBEEF5;
}
.bg-color-grey-light {
  background-color: #E4E7ED;
}
.bg-color-grey-base {
  background-color: #DCDFE6;
}